*{
    background-color: #ffd740;
    color: black;
    font-size: 16px;
    font-family: 'Cantora One',sans-serif;
}

h1{
    font-size: 300%;
}

p{
    font-size: x-large;
}

.hide{
    display: none;
}

#homepage{
    text-align: center;
    margin-top: 100px;
    text-shadow: 1px 1px 1px white, 0 0 0.1em black;
}

#homepagecontainer{
    border-style: solid;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
}
  
#scorepage{
    text-align: center;
    border-style: solid;
    border-color: black;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 100px;
    border-width: 10px;
    text-shadow: 1px 1px 1px white, 0 0 0.1em black;
    border-radius: 10px;
}

#highscorepage{
    text-align: center;
    border-style: solid;
    border-color: black;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 100px;
    border-width: 10px;
    text-shadow: 1px 1px 1px white, 0 0 0.1em black;
    border-radius: 10px;
}

#highscore-list{
    text-align: left;
    font-size: 50px;
}

li {
 font-size: 50px;
    margin-left: 100px;
    background: linear-gradient(to top,
    white 45%, black 45% 55%, red 55% );
    padding: 10px;
    border-style: solid;
    border-color: #50514f;
    border-width: 5px;
    border-radius: 5px;
}

#playerscore{
    font-size: 50px;
}

#question-container{
    text-align: center;
}

#options-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.option-btn, #start-button, #playAgainButton, #clearHighScoresBtn,#submitHighscoreBtn{
    margin: 15px;
    background: linear-gradient(to top,
    white 45%, black 45% 55%, red 55% );
    padding: 10px;
    border-style: solid;
    border-color: #50514f;
    border-width: 5px;
    border-radius: 5px;
    font-size: xx-large;
    text-transform: uppercase;
    color: #6e6b6b;
    font-weight: 1000;
    text-shadow: 2px 2px 2px black;
    transition: all 0.2s ease-in-out;
      
}

.option-btn:hover, #start-button:hover,#playAgainButton:hover, #clearHighScoresBtn:hover,#submitHighscoreBtn:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(8, 8, 8, 0.4);
    
}
#highscore-link{
    font-size: 30px;
    font-weight: bolder;
}

#timer-container{
    margin-left: 675px;
    font-size: 25px;
    
}
#submitLabel {
    font-size: 30px;
}
   
/* add pokemon colors */
/* add styling to the question page  */
/* add icon in the window title */
/*  */